*{
    padding:0;
    margin: 0;
}
.head{
    padding: 20px;
}
body{
    background-color:gray;
}
.side-bar{
    height: 100%;
    width: 300px;
    position: absolute;
    background-color: #fff;
    transition:all 3s ease-out;
}
.toggle{

    width: -300px;
    transition:all 3s ease;
   display: none;
    
}
.barger{
    width: 30px;
    height: 30px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;

}
.details p{

    margin: 10px;
    
}
.des{
    padding: 10px;

    margin: 10px;
}
.des a{
    cursor: pointer;
    color: burlywood;
    text-decoration: none;
   margin-top: 10px;
}
.des p{
    margin: 10px;
}

.btn button{

    margin-left: 10px;

    padding: 10px;
    cursor: pointer;

}
.btn-1{
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}
.btn button:hover{

    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}


.btn-2{
    color: burlywood;
    border-radius: 5px;
    border: 1px solid burlywood;
    font-weight: 700;
   
}
#back{
    margin: 20px;
   height: 20px;
   width: 20px;
   cursor: pointer;

}
.bar-toggle{
    margin-top:20;
    display: none;
    visibility: hidden;
   
}
.bar-tog{
    margin:20px;

    display: block;
    visibility: visible;
    cursor: pointer;
}